<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BangDia.Properties.Settings.MuonDiaConnectionString"
            connectionString="Data Source=DUCNGUYEN\SQLEXPRESS;Initial Catalog=MuonDia;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>